<div class="my">
<div class="auth-card mx-auto mt-5">
  <h3 class="text-center mb-4">Register</h3>
  <form>
    <div class="mb-3">
      <label for="registerName" class="form-label">First Name</label>
      <input type="text" class="form-control" id="registerName" placeholder="Enter First name">
    </div>
    <div class="mb-3">
      <label for="registerName" class="form-label">Last Name</label>
      <input type="text" class="form-control" id="registerName" placeholder="Enter Last name">
    </div>
    <div class="mb-3">
      <label for="registerEmail" class="form-label">Email</label>
      <input type="email" class="form-control" id="registerEmail" placeholder="Enter email">
    </div>
    <div class="mb-3">
      <label for="registerPassword" class="form-label">Password</label>
      <input type="password" class="form-control" id="registerPassword" placeholder="Create password">
    </div>
    <div class="mb-3">
      <label for="registerPassword" class="form-label">Confirm Password</label>
      <input type="password" class="form-control" id="registerPassword" placeholder="Confirm password">
    </div>
    <div class="d-grid gap-2">
      <button class="btn btn-primary">Register</button>
    </div>
  </form>
</div>
</div>